<ul>
  <li class="o-share__action o-share__wechat">
    <a href="http://www.ftchinese.com/m/corp/qrshare.html?title={{share.title}}&url={{share.url}}&ccode=2C1A1408" target="_blank" title="分享到微信">    
      <svg><use xlink:href="/bower_components/ftc-social-images/static/sprite/all.svg#wechat"></use></svg>
      <i>微信</i>
    </a>
  </li>
 
  <li class="o-share__action o-share__weibo">
    <a href="http://service.weibo.com/share/share.php?&appkey=4221537403&url={{share.url}}&title=【{{share.title}}】{{share.summary}}&ralateUid=1698233740&source=FT中文网&sourceUrl=http://www.ftchinese.com/&content=utf8&ccode=2G139005" target="_blank" title="分享到微博">    
      <svg><use xlink:href="/bower_components/ftc-social-images/static/sprite/all.svg#weibo"></use></svg>
      <i>微博</i>
    </a>
  </li>
 
  <li class="o-share__action o-share__linkedin">
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{share.url}}&title={{share.title}}&summary={{share.summary}}&source=FT中文网" target="_blank" title="分享到领英">    
      <svg><use xlink:href="/bower_components/ftc-social-images/static/sprite/all.svg#linkedin"></use></svg>
      <i>领英</i>
    </a>
  </li>
 
  <li class="o-share__action o-share__facebook">
    <a href="http://www.facebook.com/sharer.php?u={{share.url}}" target="_blank" title="分享到Facebook">    
      <svg><use xlink:href="/bower_components/ftc-social-images/static/sprite/all.svg#facebook"></use></svg>
      <i>Facebook</i>
    </a>
  </li>
 
  <li class="o-share__action o-share__twitter">
    <a href="https://twitter.com/intent/tweet?url={{share.url}}&amp;text=【{{share.title}}】{{summary}}&amp;via=FTChinese" target="_blank" title="分享到Twitter">    
      <svg><use xlink:href="/bower_components/ftc-social-images/static/sprite/all.svg#twitter"></use></svg>
      <i>Twitter</i>
    </a>
  </li>
 </ul>