[submodule "o-colors"]
	path = packages/o-colors
	url = https://github.com/Financial-Times/o-colors
[submodule "mathsass"]
	path = packages/mathsass
	url = https://github.com/terkel/mathsass.git
[submodule "o-brand"]
	path = packages/o-brand
	url = https://github.com/Financial-Times/o-brand.git
[submodule "o-buttons"]
	path = packages/o-buttons
	url = https://github.com/Financial-Times/o-buttons.git
[submodule "o-typography"]
	path = packages/o-typography
	url = https://github.com/Financial-Times/o-typography.git
[submodule "o-grid"]
	path = packages/o-grid
	url = https://github.com/Financial-Times/o-grid.git
[submodule "sass-mq"]
	path = packages/sass-mq
	url = https://github.com/sass-mq/sass-mq.git
[submodule "o-normalise"]
	path = packages/o-normalise
	url = https://github.com/Financial-Times/o-normalise.git
[submodule "o-icons"]
	path = packages/o-icons
	url = https://github.com/Financial-Times/o-icons.git
[submodule "o-assets"]
	path = packages/o-assets
	url = https://github.com/Financial-Times/o-assets.git
[submodule "o-forms"]
	path = packages/o-forms
	url = https://github.com/Financial-Times/o-forms.git
[submodule "o-message"]
	path = packages/o-message
	url = https://github.com/Financial-Times/o-message.git
[submodule "o-loading"]
	path = packages/o-loading
	url = https://github.com/Financial-Times/o-loading.git
[submodule "o-banner"]
	path = packages/o-banner
	url = https://github.com/Financial-Times/o-banner.git
[submodule "o-big-number"]
	path = packages/o-big-number
	url = https://github.com/Financial-Times/o-big-number.git
[submodule "o-cookie-message"]
	path = packages/o-cookie-message
	url = https://github.com/Financial-Times/o-cookie-message.git
[submodule "o-visual-effects"]
	path = packages/o-visual-effects
	url = https://github.com/Financial-Times/o-visual-effects.git
[submodule "o-expander"]
	path = packages/o-expander
	url = https://github.com/Financial-Times/o-expander.git
[submodule "o-footer"]
	path = packages/o-footer
	url = https://github.com/Financial-Times/o-footer.git
[submodule "o-spacing"]
	path = packages/o-spacing
	url = https://github.com/Financial-Times/o-spacing.git
[submodule "o-fonts"]
	path = packages/o-fonts
	url = https://github.com/Financial-Times/o-fonts.git
