.share-link-linkedin {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.share-link-wechat {
  background-image: url(../images/sprite.png);
  background-position: 0px -24px;
  background-repeat: no-repeat;
}
.share-link-weibo {
  background-image: url(../images/sprite.png);
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
