.share-links li {
  display: inline-block;
  margin-left: 1em;
}
.share-link {
  display: block;
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}
.share-link:hover {
  color: #900;
}