@import "ftc-icons/main";

$ftpink:#FFCC99;
$wechat:#609700;
$weibo: #FFD12B;
$linkedin:#0977b6;
$facebook: #3c5a99;
$twitter: #6aa9e0;
$staticColor: #979589;


.share-links {
	li {
		margin-bottom: 10px;
		list-style: none;
		display: inline-block;
	}
	i {
		display: inline-block;
		border: 0;
		padding: 0;
		width: 100px;
		height: 100px;
		background-position: left center;
		background-repeat: no-repeat;
	}
	span {
		display: none;
	}
}

.icon-no-bkg {
	.icon-social-wechat {
		background-image: $social-wechat;
	}
	.icon-social-weibo {
		background-image: $social-weibo;
	}
	.icon-social-linkedin {
		background-image: $social-linkedin;
	}
	.icon-social-facebook {
		background-image: $social-facebook;
	}
	.icon-social-twitter {
		background-image: $social-twitter;
	}
}

.icon-has-bkg {
	i {
		border-radius: 50%;
	}
	.icon-social-wechat {
		background-image: sassvg(social-wechat-bg, $fillcolor:$staticColor);
		&:hover {
			background-image: $social-wechat-bg;
		}	
	}
	.icon-social-weibo {
		background-image: sassvg(social-weibo-bg, $fillcolor:$staticColor);
		&:hover {
			background-image: $social-weibo-bg;
		}
	}
	.icon-social-linkedin {
		background-image: sassvg(social-linkedin-bg, $fillcolor:$staticColor);
		&:hover {
			background-image: $social-linkedin-bg;
		}
	}
	.icon-social-facebook {
		background-image: sassvg(social-facebook-bg, $fillcolor:$staticColor);
		&:hover {
			background-image: $social-facebook-bg;
		}	
	}
	.icon-social-twitter {
		background-image: sassvg(social-twitter-bg, $fillcolor:$staticColor);
		&:hover {
			background-image: $social-twitter-bg;
		}
	}
}
.on-hover {
	i {
		border-radius: 50%;
	}
	a:hover i {
	    opacity: .8;
	}
	.icon-social-wechat {
		background-image: $social-wechat-bg;
	}
	.icon-social-weibo {
		background-image: $social-weibo-bg;
	}
	.icon-social-linkedin {
		background-image: $social-linkedin-bg;
	}
	.icon-social-facebook {
		background-image: $social-facebook-bg;
	}
	.icon-social-twitter {
		background-image: $social-twitter-bg;
	}
}


