{% extends "base.html" %}

{% block header%}
<header class="ftc-header" data-ftc-component="ftc-header" data-ftc-header--no-js>

	{% if header.top %}
	<div class="ftc-header__top ">
		<div class="ftc-header__container">

			<div class="ftc-header__top-column ftc-header__top-center  ftc-header-hometitle" data-ftc-component="ftc-header-title">
			</div>

			<div class="ftc-header__top-column ftc-header__top-left">
				<div class="ftc-header__lang" data-ftc-component="ftc-header-lang">
					<ul class="ftc-header__lang-list ftc-header__lang-listdefault" data-ftc-content={{header.lang.list}}>
						{% for onelang in header.lang.list %}
						<li class="ftc-header__lang-item">
							<a href={{onelang.url}}>
								{{onelang.name}}
							</a>
						</li>
						{% endfor%}
					</ul>
				</div>
				<div class="ftc-header__brand ftc-header--hide">

				</div>
				<div class="ftc-header__hamburg" data-ftc-component="ftc-header-hamburg">
				</div>
			</div>

			<div class="ftc-header__top-column ftc-header__top-right">
					<div class="ftc-header-readermenu ftc-header-readermenu-visitor">

						<a href={{header.signUp.url}}>
							{{header.signUp.word}}
						</a>

						<a href={{header.signIn.url}}>
							{{header.signIn.word}}
						</a>

					</div>
					<div class="ftc-header-readermenu ftc-header-readermenu-member">
						<a href={{header.myFT.url}}>
							{{header.myFT.word}}
						</a>
						<a href={{header.mySet.url}}>
							{{header.mySet.word}}
						</a>
						<a href={{header.signOut.url}}>
							{{header.signOut.word}}
						</a>
					</div>
			</div>
			
		</div>
	</div>
	{% endif %}

	{% if header.nav %}
	<nav class="ftc-header__nav" data-ftc-component="ftc-channelnav" role="navigation" aria-label="Main navigation">
		<ul class="ftc-header__nav-list ftc-header__nav-toplist" data-ftc--sticky>
			{# 
				<!--
				<li class="ftc-header__nav-item ftc-header__nav-topitem ${selectedCssClass}" data-index=${topChannel.index}>
					<a href=${topChannel.url} >
						${topChannel.name}
					</a>
					<ul class="ftc-header__nav-pushdownlist">${pushdownLiList}</ul>
				</li>	
				-->
			#}
		</ul>
		<ul class="ftc-header__nav-list ftc-header__nav-sublist">
			{#
				<!--
				<li class="ftc-header__nav-item ftc-header__nav-subitem ">
					<a href=${subChannel.url}>${subChannel.name}</a>
				</li>
				-->
			#}
		</ul>
	</nav>

	{% endif %}

	{% if header.search %}
	<div class="ftc-header__search ftc-header__search-default  ftc-header__row" data-ftc-component="ftc-header-search" data-ftc--sticky >
		<div class="ftc-header__container">
		
			<form class="ftc-header__search-formregion" action={{header.search.actionUrl}} role="search">
				<button class="ftc-header__search-searchbtn"></button>
				<div class="ftc-header__search-inputarea">
					<input class="ftc-header__search-input" type="search" placeholder={{header.search.placeholderText}} >
				</div>
				</form>
			</form>
			<div class="ftc-header__search-switch">
			</div>
		</div>
	</div>
	{% endif %}
</header>
{% endblock %}