.share-link i {
	padding-left: 1em;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	/*background-color: #999;*/
	border-radius: .2em;
}
.share-link:hover/* i*/ {
	background-color: orange;
}

