{% extends "base.html" %}
{% block body %}
<div class="component-detail__header">
	<div class="component-detail__description">
		<h1>ftc-footer</h1>
		<span class="label-css">CSS</span>
		<span class="label-js"></span>
		<p>FTC page footer</p>
	</div>
</div>

<div class="component-detail__info">
	<section class="component-detail__section">
		<a href="https://github.com/FTChinese/ftc-footer/" class="o-buttons o-buttons--big o-registry__github-button" target="_blank">View on GitHub</a>
	</section>
	
</div>

<div class="component-detail__main">
	{% for demo in demos %}
	<section class="component-detail__section">
		<div class="demo">
			<header class="demo__header">
				<h2 class="demo__title"><span>{{demo.title}}</span></h2>
			</header>
			<div class="demo__navigation">
				<div class="demo__external-links">
					<span>Open in:</span>
					<a href="{{demo.name}}" target="_blank">New Tab</a>
				</div>
			</div>
			<div class="demo__frame-container">
				<iframe src="{{demo.name}}" class="demo__frame" allowtransparency="true" scrolling="no"></iframe>
			</div>
		</div>
	</section>
	{% endfor %}	
</div>

<script type="text/javascript" src="scripts/index.js"></script>
{% endblock %}