@import "o-colors/main";

body {
	@include oColorsFor(page);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		margin: 1em 0;
		margin-bottom: 2em;
		span{
			display: block;
		}
		input {
			height: 1.5em;
			min-width: 50vw;
			cursor: text;
			font-size: 1.2em;
		}
		img {
			height: 100px;
		}
	}
}