@import "../../main";
@import "social-list";

@include oAssetsSetModulePaths((
	social-images: '..',
));

body {
	@include oColorsFor(page);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		width: 180px;
		margin: 0 0 20px;
		text-align: center;
		i {
			display: inline-block;
			border: 1px dotted #333;
			width: 100px;
			height: 100px;

			svg {
				width: 100px;
				height: 100px;
			}

			&:after {
				display: inline-block;
				width: 100px;
				height: 100px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50%;
				background-color: transparent;
				vertical-align: middle;
			}
		}
		span {
			display: block;
		}
	}
}

.social-images__default {
	@each $name in $social-list {
		.#{$name} {
			&:after {
				content: '';
				@include socialImagesGetImage($name, $apply-base-styles: false);
			}
		}
	}
}

$social-images: sassvg-list($folder: 'svg');

.social-images__sassvg {
	@each $name in $social-images {

		.#{$name} {
			background-color: socialImagesGetColor($name);
			@include socialImagesGetSassvg($name, $color: #fff, $apply-base-styles: false);
		}
	}
}
// It's quite simple to style symbol sprite. You do not even need the minxins.
.social-images__sprite {
	@each $name in $social-images {
		.#{$name} {
			background-color: socialImagesGetColor($name);
			svg {
				fill: #fff;
			}
		}
	}
}
