body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC", "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti, sans-serif;
}
iframe {
	max-width: 100%;
	border: 0;
}

h1 {
	font-weight: 400;
}
a {
	color: #27757b;
	text-decoration: none;
	&:visited {
		color: #153e41;
	}
	&:focus,
	&:hover {
		color: #27757b;
		text-decoration: underline;
	}
}
.component-detail__header,
.component-detail__main {
	box-sizing: border-box;
	float: left;
	width: calc(75% - 220px);
	margin-left: 250px;
	margin-right: 20px;
	padding: 0;
	padding-right: 30px;
	border-right: 1px solid #cec6b9;
}

.component-detail__header,
.component-detail__info {
	box-sizing: border-box;
	margin-top: 30px;
}

.component-detail__header {
	padding-bottom: 30px;
}

[class*=" label-"], [class^=label-] {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-css {
	background-color: #0c72ba;
}

.component-detail__description p {
    clear: left;
    margin: 0;
}

.component-detail__description [class*=" label-"], .component-detail__description [class^=label-] {
    position: relative;
    top: 8px;
    margin-left: 5px;
}

.component-detail__description {
	float: left;
	h1 {
		float: left;
		margin: 0 5px 0 0;
		line-height: 1;
	}
}

.component-detail__info {
	float: right;
	margin-left: 0;
	margin-right: 20px;
	padding: 0;
	width: calc(25% - 70px);
}

.component-detail__section {
	max-width: 100%;
	clear: both;
	margin-bottom: 40px;
	h2 {
	    margin-top: 0;
	}
}


a.o-registry__github-button {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    outline: 0;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-clip: padding-box;
    min-height: 36px;
    min-width: 36px;
    padding: 8px 18px 8px 18px;
    font-size: 18px;
    line-height: 18px;
    border-width: 1px;
    background-color: #27757b;
    border-color: #27757b;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    text-transform: none;
}

.demo__title {
	margin: 0;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 26px;
	color: #505050;
}
.demo__navigation {
	position: relative;
}
.demo__external-links {
	position: absolute;
	bottom: 5px;
	right: 0;

	a {
		padding-left: 5px;
		font-weight: 600;
	}
}
.demo__frame-container {
	border-bottom: 1px solid #cec6b9;
	border-top: 1px solid #cec6b9;
	padding: 12px 0;
}
.demo__frame {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}