{% extends "demos/src/base.html" %}
{% block body %}
<div>
	<h2>SVG</h2>
  <ul>
    {% for logo in logos %}
    <li class="{{logo}}">
      <img src="/{{logoBaseDir}}/{{logo}}.svg">
      <span>{{logo}}</span>
      <input type="text" readonly value="http://interactive.ftchinese.com/{{logoBaseDir}}/{{logo}}.svg">
    </li>
    {% endfor %}
  </ul>

  <h2>PNG</h2>
  <ul>
    {% for logo in logos %}
    <li class="{{logo}}">
      <img src="/{{logoBaseDir}}/{{logo}}.png">
      <span>{{logo}}</span>
      <input type="text" readonly value="http://interactive.ftchinese.com/{{logoBaseDir}}/{{logo}}.png">
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}