@import "../main";

body {
	background-color: oColorsGetPaletteColor('pink');
}

.demo--sassvg {
	@include oShareBase(50%);

	.o-share--default {
		@include oShareIconDefault;
	}

	.o-share--teal {
		@include oShareIconTeal;
	}

	.o-share--tint {
		@include oShareIconTint;
		@include oShareSetIconSize(30);
		@include oShareSetIconRadius(3px);
	}
}


.demo--sprite {
	@include oShareSpriteBase;

	@include oShareSpriteIcon(wechat);
	@each $name in $o-share-icon-names {
		@include oShareSpriteIcon($name);
	}
}

.demo--sprite-custom {
	@include oShareSpriteBase {

		svg {
			fill: oColorsGetPaletteColor('pink-tint1');
		}

		a {
			background-color: oColorsGetPaletteColor('orange-tint1');
			&:hover {
				background-color: oColorsGetPaletteColor('blue-tint1');
				svg {
					fill: oColorsGetPaletteColor('orange-tint1');
				}
			}
		}
	}
}









