@import "../main";

body {
	background-color: oColorsGetPaletteColor('pink');
}

.demo {

	@include oShareBase;	
	@include oShareActionLink;
	@include oShareLinkTooltip;
	.o-share--default {
		@include oShareIcons;
	}
	.o-share--polychrome {
		@include oShareSetIconSize(40);
		@include oShareIcons(polychrome);
	}

	.o-share--duotone {
		@include oShareSetIconSize(50);
		@include oShareIcons(duotone);
	}

	.o-share--monochrome {
		@include oShareSetIconSize(60);
		@include oShareIcons(monochrome);	
	}	
}


.o-share-symbol {
	list-style-type: none;
	padding: 0;
	margin: 0;
	.o-share__action {
		float: none;
		display: inline-block;
		a {
			float: none;
			display: inline-block;
			
			
		}
		i {
			display: none;
		}
		svg {
			width: 30px;
			height: 30px;
			background-color: transparent;
			fill: white;
		}
	}
	@each $icon in $o-share-icons {
		.o-share__action--#{$icon} {
			a {
				background-color: rgb(random(256) - 1, random(256) - 1, random(256) - 1);
				&:hover {
					background-color: rgb(random(256) - 1, random(256) - 1, random(256) - 1);
				}
			}
		}
	}
}










