/// Generate base share styles
/// @param {String} $classname [o-share] - base class name
/// If you want to customize the look and feel of all icons, pass content block to mixin `oShareCustomBase {}`.
@mixin oShareBase($classname: o-share) {
	.#{$classname} {
		display: inline-block;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			// Clearfix
			&:after {
				clear: both;
				content: '';
				display: table;
			}
		}
	}
	.#{$classname}__action {
	// Float everything to avoid gaps in HTML.
		float: left;
		margin: 0 5px 0 0;
		@if $o-share-use-sprite == false {
			i {
				float: left;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: 50%;

				width: $o-share-icon-size;
				height: $o-share-icon-size;
				text-indent: -($o-share-icon-size * 1000);
				white-space: nowrap;
				overflow: hidden;
			}			
		} @else {
			
			svg {
				float: left;
				width: $o-share-icon-size;
				height: $o-share-icon-size;
				background-color: transparent;
			}

			svg + i {
				display: none;
			}
		}

		a {
			float: left;
			text-decoration: none;
			padding: 4px;			
			border-radius: $o-share-icon-radius;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

