/// Generate base share styles
/// @param {String} $classname [o-share] - base class name
/// If you want to customize the look and feel of all icons, pass content block to mixin `oShareCustomBase {}`.
@mixin oShareBase($classname: o-share) {
	.#{$classname} {
		display: inline-block;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			// Clearfix
			&:after {
				clear: both;
				content: '';
				display: table;
			}
		}
	}
	.#{$classname}__action {
	// Float everything to avoid gaps in HTML.
		float: left;
		margin: 0 5px 0 0;

		a {
			float: left;
			text-decoration: none;
			padding: $o-share-link-padding;
		}

		i {
			float: left;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			width: $o-share-icon-size;
			height: $o-share-icon-size;
			text-indent: -($o-share-icon-size * 1000);
			white-space: nowrap;
			overflow: hidden;
		}			

		svg {
			float: left;
			width: $o-share-icon-size;
			height: $o-share-icon-size;
			background-color: transparent;
		}

		svg + i {
			display: none;
		}

	}
}

