@mixin oFooterBase($classname: o-footer) {
	.#{$classname} {
		margin-top: (2 * $o-footer-spacing-unit);
		border-top: 10px solid;
		line-height: $o-footer-spacing-unit;

		a {
			border-bottom: 0;
			text-decoration: none;
		}		
	}

	.#{$classname}--theme-dark {
		// @include oColorsFor('o-footer-dark', 'text' 'background' 'border');
		color: $o-footer-white;
		background-color: $o-footer-black-80;
		border-color: $o-footer-teal-40;

		a {
			// color: oColorsGetColorFor('o-footer-dark-link', 'text');
			color: $o-footer-black-30;
			&:hover,
			&:focus {
				// color: oColorsGetColorFor('o-footer-dark-link-hover', 'text');
				color: $o-footer-white;
			}
		}		
	}

	.#{$classname}--theme-light {
		// @include oColorsFor('o-footer-light', 'text' 'background' 'border');
		color: $o-footer-black-80;
		background-color: $o-footer-black-5;
		border-color: $o-footer-claret;

		a {
			// color: oColorsGetColorFor('o-footer-light-link', 'text');
			color: $o-footer-black-70;
			&:hover,
			&:focus {
				// color: oColorsGetColorFor('o-footer-light-link-hover', 'text');
				color: $o-footer-white;
			}
		}
	}

	.#{$classname}__container {
		@include oGridContainer();
	}

	.#{$classname}__row {
		margin-top: $o-footer-spacing-unit;
	}

	.#{$classname}__copyright {
		padding-top: $o-footer-spacing-unit;
		padding-bottom: $o-footer-spacing-unit;

		.#{$classname}--theme-dark & {
			// color: oColorsGetColorFor('o-footer-dark-copyright', 'text');
			color: $o-footer-black-30;
		}

		.#{$classname}--theme-light & {
			// color: oColorsGetColorFor('o-footer-light-copyright', 'text');
			color: $o-footer-back-70;
		}

		a {
			text-decoration: underline;
		}
	}
}

@mixin oFooterMatrix($classname: o-footer) {
	.#{$classname} {
		&__matrix {
			@include oGridRow();
		}

		&__matrix-group {
			@include oGridColspan();
		}

		&__matrix-group {
			@include oGridColspan((default: 6, M: 3, L: 2), $width-only: true);
		}

		&__matrix-title,
		&__matrix-link {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&__matrix-title {
			margin: 0;
			line-height: inherit;
			font-size: inherit;
			font-weight: 600;
		}

		&__matrix-content {
			margin-top: $o-footer-spacing-unit / 2;
			margin-bottom: $o-footer-spacing-unit / 2;
		}

		&__matrix-link {
			display: block;
			padding: 4px 0;
		}
	}
}

@mixin oFooterSimple($classname: o-footer) {
	.#{$classname}__link-items {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.#{$classname}__link-item {
		display: inline-block;
		margin-bottom: $o-footer-spacing-unit / 2;
		margin-right: $o-footer-spacing-unit
	}
	.#{$classname}__link {
		display: block;
	}
}