/// Generate base share styles
/// @param {String} $classname [o-share] - base class name
/// If you want to customize the look and feel of all icons, pass content block to mixin `oShareCustomBase {}`.
@mixin oShareBase($classname: o-share) {
	.#{$classname} {
		display: inline-block;
		ul {
			margin: 0;
			padding: 0;
			// Clearfix
			// &:after {
			// 	clear: both;
			// 	content: '';
			// 	display: table;
			// }
		}
	}
	.#{$classname}__action {
		box-sizing: border-box;
		float: left;
		width: $o-share-icon-size;
		height: $o-share-icon-size;
		margin: 0 5px 0 0;
		list-style-type: none;
		line-height: $o-share-icon-size;
		border: 1px solid rgba($o-share-default-border, 0.2);
		border-radius: 0;
		cursor: pointer;

		@include oGridRespondTo(S) {
			margin-right: 10px;
		}

		i {
			float: left;
			background-size: 100% 100%;
			width: $o-share-icon-size;
			height: $o-share-icon-size;
			text-indent: $o-share-icon-size;
			overflow: hidden;
		}

		&--icon {
			display: block;
			position: relative;
			top: -1px;
			left: -1px;
			width: $o-share-icon-size;
			height: $o-share-icon-size;
			border: 0;
			cursor: pointer;

			&:after {
				position: absolute;
				display: block;
				content: '';
				width: $o-share-icon-size + 5;
				height: $o-share-icon-size + 5;
				top: -2px;
				left: -2px;

				@include oGridRespondTo(S) {
					width: $o-share-icon-size + 10px;
					height: $o-share-icon-size + 10px;
					top: -5px;
					left: -5px;
				}
			}
		}
		a {
			text-decoration: none;
		}

		button {
			padding: 0;
			background-color: transparent;
		}
		&:first-child a {
			padding-left: 0;
		}
	}
}

@mixin oShareActionIcon($icon-name, $classname: o-share, $hover: true) {

	$image-url: "http%3A%2F%2Finteractive.ftchinese.com%2Fsocial-images%2F#{$icon-name}.svg";
	$query: "?source=ftchinese";
	$hover-color: $o-share-hover-background;
	$hover-color: str-slice(ie-hex-str($hover-color), 4);
	$tint: "&tint=%23#{$hover-color},%23#{$hover-color}";

	.#{$classname}__action--#{$icon-name} i {
		background-image: url($o-share-service-url + $image-url + $query + "&format=svg");
		background-image: url($o-share-service-url + $image-url + $query + "&format=png&width=#{$o-share-icon-size}")\9;

		&:after {
			content: '';
			background-image: url($o-share-service-url + $image-url + $query + "&format=svg#{tint}");
			background-image: url($o-share-service-url + $image-url + $query + "&format=png#{tint}&width=#{$o-share-icon-size}")\9;
		}
	}

	.#{$classname}__action--#{$icon-name}:hover,
	.#{$classname}__action--#{$icon-name}:focus {
		border-color: oShareGetBrandColor($icon-name);
		background-color: oShareGetBrandColor($icon-name);

		i {
			background-image: url($o-share-service-url + $image-url + $query + "&format=svg#{tint}");
			background-image: url($o-share-service-url + $image-url + $query + "&format=png#{tint}&width=#{$o-share-icon-size}")\9;
		}
	}
}

@mixin oShareInverse($classname: o-share) {
	.#{classname}--inverse {
		.#{$classname}__action:not(:hover) {
			border: 1px solid rgba($o-share-inverse-border, 0.5);
		}

		$query: "?source=ftchinese";
		$hover-color: $o-share-inverse-background;
		$hover-color: str-slice(ie-hex-str($hover-color), 4);
		$tint: "&tint=%23#{$hover-color},%23#{$hover-color}";

		@each $icon-name in $_o-share-icons {
			$image-url: "http%3A%2F%2Finteractive.ftchinese.com%2Fsocial-images%2F#{$icon-name}.svg";
			.#{$classname}__action--#{$icon-name} {
				border-color: oShareGetBrandColor($icon-name);

				i {
					background-image: url($o-share-service-url + $image-url + $query + "&format=svg#{tint}");
					background-image: url($o-share-service-url + $image-url + $query + "format=png#{ting}&width=#{$o-share-icon-size}")\9;
				}
			} 
		}
	}
}