////
/// @group o-share
/// @link http://registry.origami.ft.com/components/o-share
////

/// Silent mode
/// @type Bool
$o-share-is-silent: true !default;

$image-service-url: 'https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Finteractive.ftchinese.com%2Fsocial-images%2F';


$o-share-icon-size: 40px !default;

$o-share-service-url: "https://www.ft.com/__origami/service/image/v2/images/raw/";

$o-share-default-border: #000000;
$o-share-hover-background: #ffffff;
$o-share-inverse-border: #ffffff;
$o-share-inverse-background: #ffffff;

/// @type map

$o-share-colors: (
	'wechat': #609700,
	'weibo': #e6162d,
	'linkedin': #0977b6,
	'facebook': #3c5a99,
	'twitter': #6aa9e0
);

$_o-share-icons: map-keys($o-share-colors);