////
/// @group o-share
/// @link http://registry.origami.ft.com/components/o-share
////

/// Silent mode
/// @type Bool
$o-share-is-silent: true !default;
$o-share-use-sprite: false !default;

$o-share-link-padding: 4px !default;
// default to 32px - 2 * 4px = 24px.
// $o-share-icon-size: $o-share-link-size - 2 * $o-share-link-padding !default;
$o-share-icon-size: 24px !default;

/// Caculated from `$o-share-link-padding + $o-share-icon-size`;
$o-share-link-size: $o-share-icon-size + $o-share-link-padding;

/// @type map

$_o-share-background-palette: map-remove($social-images-palette, "link");
$_o-share-foreground-palette: (
	'default': 'white',
	'pink': 'pink-tint4',
);

$_o-share-icon-names: map-keys($_o-share-background-palette);
$_o-share-themes: ('default', 'light', 'dark');