////
/// @group o-share
/// @link http://registry.origami.ft.com/components/o-share
////

/// Silent mode
/// @type Bool
$o-share-is-silent: true !default;

$o-share-icon-size: 24px !default;
$o-share-icon-radius: 50% !default;

/// List of accepted social network icons, and the version
/// @type map
$o-share-icon-names: (wechat, weibo, linkedin, facebook, twitter);
