@mixin oShareSpriteBase($classname: o-share) {
	.#{$classname} {
		display: inline-block;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			&:after {
				clear: both;
				content: '';
				display: table;
			}
		}
	}
	.#{$classname}__action {
		float: left;
		margin: 0 5px 0 0;
		a {
			float: left;
			text-decoration: none;
			padding: 4px;
			border-radius: $o-share-icon-radius;
			&:hover {
				opacity: 0.8;
			}
		}
		i {
			display: none;
		}
		svg {
			float: left;
			width: $o-share-icon-size;
			height: $o-share-icon-size;
			background-color: transparent;
			fill: #fff;
		}
	}
}

@mixin oShareSymbolTint {
	.o-share--symbol-tint {

		.o-share__action svg {
			fill: oColorsGetPaletteColor('pink-tint4');
		}
	}
}