@mixin ftcHeaderNav() {
	.ftc-header__nav {
	}

	.ftc-header__nav--mobile {
		background-color: #333;

		@include oGridRespondTo('L') {
			display: none;
		}
	}

	.ftc-header__nav--desktop {
		display: none;

		@include oGridRespondTo('L') {
			display: block;
		}
	}

	.ftc-header__nav-toplist,.ftc-header__nav-sublist {
		li {
			display: inline-block;
		}
	}


	.ftc-header__nav-list--right {
		float: right;
	}

	.ftc-header__nav-topitem {
		
	}


}
