@mixin ftcHeaderSign() {
  .ftc-header-readermenu {
    @include respondControllSign();
    
    height: 100%;
    a {
      display: inline-block;
      height: 100%;
      
      line-height: 57px;
      padding: 0 5px;
			color:$header-color;
			cursor: pointer;
      text-decoration:none;
      position: relative;
      &:nth-child(2)::before { /*NOTE:before区域是从border内开始，压住了padding-left*/
        content: " ";
        position: absolute;
        width: 2px;
        height: 14px;
        top: 50%;
        left: -3px;
        margin-top: -7px;
        background-color:#fff;
      }
			&:hover, &:active {
				text-decoration: underline;
      }
    }
    
  }
  
  .ftc-header-readermenu-visitor {
    @include respondControllSign();
  }
  .ftc-header-readermenu-member {
    display:none;
  }
}

@mixin respondControllSign() {
  display: none;
  @include oGridRespondTo('L') {
    display: block;
  }
}