@mixin ftcHeaderSticky() {
	.ftc-header--sticky {
		@include oGridRespondTo(L) {
			position: fixed;
			top:0;
		}

	}
	/*
	.ftc-header__nav-toplist-sticky {
		position: fixed;
		top: 0;
		width:100%;
	}
	.ftc-header__search-sticky {
		position:fixed;
		top: 0;
	}
	*/
}
